
html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	scroll-behavior: smooth;
	background-color: rgb(30, 30, 30);
	transition: background-color 2s ease;


	
}

#header{
	width: 100%;
	height: 740px;
	overflow: hidden;
	max-width: 1600px;
	margin: auto;
	background-origin: border-box;
	background-position: bottom -170px right 0;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	
	
}


nav{
	width: 100%;
	max-width: 1600px;
	margin: auto;
	left:0;
	right: 0;
	height: 50px;
	background-color: #1e1e1e;
	position: fixed;
	display: flex;
	flex-direction: row;

	z-index: 1000;

}

nav li{
	list-style-type: none;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li:hover{
	background-color: #f26522;
}
nav li a {
	display: block;
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	width: 120px;
	text-decoration: none;

}

/**********************************PARTIE HEADER*********************************************/



#header h1, header p, nav li a{
	color: #FFF
}


#header h1{
	font-family: 'Montserrat Thin', sans-serif;
	font-size: 60px;
	margin-bottom: 10px;
	
	animation: Elise 2s ;
}


#header h1 span{
	color: #f26522;
	animation: Elise 2s ;
    font-family: 'Righteous', cursive, sans-serif;
	font-size: 95px;
	font-weight: 100;
}


#header p {
	font-family: 'Montserrat Thin', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-top: 0;
	animation: stage 2s ;
}


/*************************PARTIE INFOS*****************************************/

#infos{
	width: 100%;
	height: 750px;
	max-width: 1600px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100vw;
}

#photo{
	width: 25%;
	display: flex;
	justify-content: flex-end;
}

#photo div {
	width: 337px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	box-shadow: 0px 2px 7px #c9c9c9;
}

#photo div img{
width: 100%;
}

#coordonnees{
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	    height: 650px;

}

#coordonnees p, #coordonnees address, #coordonnees div{
	font-family: 'Montserrat', sans-serif;
}


.info i , #coordonnees div p {
	margin-left: 15px;
}


.coordonnee a {
	text-decoration: none;
	color: #1e1e1e;
}

.lien{
	/* background-color: #1e1e1e; */
}

.lien div {
	background-color: #1e1e1e;
    height: 59px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lien i{
	color: #fff;
	margin-left: 0;
}
.lien:hover{
	background-color: #f38747 ;
}

.lien p{
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}

#metier{
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}

.coordonnee{

display: flex;
flex-direction: row;
align-items: center;
width: 90%;
height: 60px;
box-shadow: 0px 1px 7px #c9c9c9;
	
}

#qualites {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}

/**************PARTI ABOUT ME*******/

#aboutMe{
	width: 33%;
	margin: auto;
	height: 646px;
	background-color:rgb(255, 255, 255);
	position: relative;
    box-shadow: 0px 2px 7px #c9c9c9;
}

#aboutMe h2{
	text-align: left;
	font-family: 'Montserrat Thin ', sans-serif;
	font-size: 35px;
	margin: auto;
	padding: 10px 0;
	background-color: rgb(30, 30, 30);
	color:#fff;
	padding-left: 18px;
}

#aboutMe p{
	text-align: justify;
	font-family: 'Montserrat ', sans-serif;
	font-size: 20px;
	width: 80%;
	margin: auto;
	margin-top: 25px;
}

#cvGithub{
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
}

#cvGithub button{
	border:none;
}



/**************************PARTIE COMPETENCES***********************************/

#competences{
	width: 40%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 700px;
	margin-top: 105px;
}


.case{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 20%;
	height: 80px;
	background-color: rgb(101, 100, 100);
	position:relative;
}
.case span{
	position: absolute;
    top: 13px;
    left: 17px;
}
.desactive{
	background-color: #fff;
}

#competencesAcquises{
	height: 577px;
	width: 100%;
	background-color: rgb(216, 214, 214);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2%;
	width: 100vw;
	
}


#competencesAcquises #encartCompetencesPortfolio {
	margin-top: 50px;
	height: 400px;
	width: 20%;
	background-color: rgb(255, 255, 255);
	max-width: 400px;
	position: relative;
}


#competencesAcquises #encartCompetencesPortfolio p{
	font-family: 'Righteous', cursive, sans-serif;
	font-size: 37px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

#competencesAcquises #encartCompetencesPortfolio p span{
	font-size: 17px;

}

#competencesAcquises .fab {
	margin-left: 20px;
	color: #1b1b1b;
}


  #rectanglePortfolio{
	height: 80px; 
	width:100%; 
	position:absolute;
	background-color: #1e1e1e;
	left: 0;
	right: 0;
	margin: auto; 
  }
/**********************************PARTIE PORTFOLIO******************************/

#portfolio{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1600px;
	margin: auto;
	margin-top: 200px;
}

#logoOC{
	width: 30%;
	height: 100px;
	margin: auto;
	width:100%;
	
}
#projets{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
	flex-wrap: wrap;
	margin-bottom: 5%;
}

.fondProjet{
    width: 18%;
	margin-bottom: 2%;
	padding: 0 35px;
	box-shadow: 0px 2px 7px #c9c9c9;


}
.projet{
	border-top: 2px solid #1e1e1e;
    padding-top: 15px;
	width: 100%;
	height: 373px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	margin-bottom: 15%;

}
.projet p{
	font-family: 'Montserrat', sans-serif;
	color: #f9d7c7;
	display: none;
}
.projet .survol img{
	width: 20%;
	margin-bottom: 5%;
	position: absolute;
	top:42px;
}
.infosProjet{
	width: 50%;
	height: 545px;
	background-color: #f26522;
}

.imageProjet{
	overflow: hidden;
}

.imageProjet img{
	width: 100%;
}

#titrePortfolio{
	font-family: 'Montserrat Thin', sans-serif;
	color: #fff;
	position:absolute; 
	font-weight: 700;
	left: 0;
	right: 0;
	margin: 20px 3px;
}

#traitPortfolio{
	height: 1px;
	width: 70%;
	background-color: #58514d;
	margin-bottom: 5%;
	margin: auto;
	
}

.survol{
	opacity: 0;
	width: 100%;
	height: 410px;
	position: absolute;
	bottom: -20px;
	background-color: transparent;
	transition: bottom 1s, background-color 2s;
	color:#FFF;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-family: 'Montserrat Light', sans-serif;
	
}

.survol p{
	text-align: center;
	margin: 5px 15px;
}

.survol a{
	font-family: 'Montserrat Bold', sans-serif;
	text-decoration: none;
	padding: 10px 20px;
	color: #FFF;
	background-color: #f38747;
	margin-top: 10px;
}

.survol img{
	width: 30px;margin-right: 10px;
}

.survol:hover{
	
	background-color: #1e1e1e;
	opacity: 1;
	bottom: 0px;
}

.titreProjet{
	display: flex;flex-direction: row; justify-content: space-between;align-items: center;HEIGHT: 77PX;
}

.nomProjet{
	font-family: 'Montserrat Thin Bold', sans-serif; 
	font-size: 18px;
}


footer{
	width: 100%;
	height: 50px;
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer p{
	color: #fff;
	/* font-family: 'Montserrat', sans-serif; */
}

/**********************************************************MEDIA QUERIES************************************************************************/

@media screen and (max-width: 9000px) {
	#header{
		width: 100vw;
		height: 100vh;
	}

}
@media screen and (max-width: 1350px) {
	

	#coordonnees {
		height: 597px;
	}

	#aboutMe{
		height: 597px;

	}
}


@media screen and (max-width: 1200px) {

	#coordonnees {
		height: 597px;
	}

	#aboutMe{
		height: 597px;

	}
}




/*************************************MEDIA QUERIES***************************************************/

@media screen and (max-width: 1100px) {
	#header{
		height: 1388px;
		max-width: 1600px;
	}

	#infos{
		flex-direction: column;
		height: 4471px;
		margin-bottom: 5%;
	}

	#photo{
		width: 98%;
		justify-content: center;
	}

	#aboutMe{
		width: 88%;
		margin: 5% auto;
	    height: 1436px;

	}

	#aboutMe p{
		font-size: 37px;
	}

	#infosCoordonnees{
		width: 88%;
		height: 1085px;

	}

	#coordonnees {
	
		width: 88%;
		height: 1085px;

	}

	.coordonnee{
		width: 100%;
	}
	#competencesAcquises #encartCompetencesPortfolio{
		width: 34%;
	}

	#competences{
		width: 70%;
	}

	.fondProjet {
		width: 40%;
	}

	.projet{
		width: 100%;
	}

	#coordonnees div i, #coordonnees div p {
		font-size: 30px;
	}

	.coordonnee{
		height: 110px;
		margin: 10px 0;

	}

	#photo div {
		width: 90%;
	}
  }

  
@media screen and (max-width:750px) {

	#header{
		height: 810px;
		
	}
	#header h1 {
		font-size: 45px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	#header h1 span {
		font-size: 66px;
		margin-bottom: 3%;
	}
	#header p {
		font-size: 17px;
    width: 89%;
	}

	#photo {
		width: 97%;
	}

	#qualites {
		font-size: 30px;
	}
	#portfolio {
		   height: 1653px;
		   margin-top: 15px;
	}
	#projets {
    	height: 1441px;
	}
	#titrePortfolio {
    font-size: 27px;
	}

	#logoOC {
    width: 40%;
    height: 69px;
}

	.projet {
    width: 74%;
	}

	#infos{
		height: 3500px;	}


	   #aboutMe p {
		font-size: 24px;
	}

	#coordonnees{
		height: 1195px;

	}

	.case{
		width: 43%;
		margin-left: 0;
	}

	#competencesAcquises {
		height: 873px;
	}
	#competencesAcquises #encartCompetencesPortfolio {
		width: 76%;
	}

	.fondProjet {
		width: 85%;
	}

	.projet {
		width: 100%;
	}

	#competences {
		width: 80%;
		display: flex;
		justify-content: space-around;
	}
	#coordonnees div i, #coordonnees div p {
		font-size: 17px;
	}
}
